body{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 600px;
    margin: auto;
}


h1, p {
    margin: 1em auto;
    text-align: center;
    color: white;
}


.title-2{
    color: white;
    margin: -0;
    font-size: 40px;
    font-weight: 800;
}

main{
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(97,0,51,1) 100%);
}
    
label, p{
    margin: 0 auto;
    color: white
}

input,textarea,select{
    background-color: #0a0a23;
    color: #ffffff;
    width: 100%;
    margin-top: 20px;
    border: 0 solid black;
    min-height: 2em;
    height: 2em;
    padding: 6px;
    border-radius: 30px;
}
.description{
    margin-top: 1px;
}

select{
    height: 3em;
}

.inline{
    width: unset;
}
.inline-block{
    width: unset;
}
form, h1, p{
    padding: 20px;
}
label{
    display: block;
    margin: 1em;
}
